html {
	background-color: #f3f3f3;
}

abbr, acronym {
	border-color: #ccc;
}

#header, #footer {
	background-color: #fff;
}

#controls .user {
	color: #069;
}

#controls .control a {
	color: #06f;
}

#controls .control a:hover {
	color: #6af;
}

#body h2, #body h3 {
	color: #333;
	text-shadow: 0 1px 0 #ddd;
}

#body a, #body em, #body strong {
	color: #09c;
}

#body a:hover {
	color: #06f;
}

#body .columns .even {
	background-color: #fff;
}

#body .columns .odd {
	background-color: #f9f9f9;
}

#body .items .item {
	-moz-box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
	box-shadow: 0 0 1px #ccc;
	background-color: #ff6;
	border-color: #990;
}

#body .fieldset input {
	background-color: #ccc;
	color: #000;
}

#body .fieldset .submit, #popup .fieldset .submit {
	background-color: #6af;
	color: #fff;
}

#copyright {
	color: #666;
}

#copyright a {
	color: #999;
	text-shadow: 0 1px 0 #ddd;
}

#copyright a:hover {
	color: #bbb;
}

#popup {
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	background-color: #fff;
	border-color: #6af;
}

#popup, #popup h2, #popup a {
	color: #6af;
}

#popup .fieldset input {
	background-color: #ececec;
	color: #666;
}